# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*/obj/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ocx
*.pdb

# InstallShield Wizard
*.iwz

# Visual Studio
Directory.Build.props
.vs/
*.clw
*.suo
*.aps
*.user
*.mdp
*.plg
*.reg
*.001
*.ncb

*.log
*.bak

# RKWard temporäre Dateien
tmp_rkward_preview*.Rmd

# Formular Screenshots
*screenshot.png

# projektspezifische Messi-Sammlung
Crash-Reports/
Beispieldaten/
Backup/
Backup1/
Debug/
Release/
Diverses/
Doc/
Doxygen/
ECTATSPK/
ECTBridge/obj/
ECTChart/
ECTDebug*
ECTIFace/Debug/
ECTIFace/Release/
ECTIFace/x64/
ECTPlugCSDrill/
ECTUpdater/.vs/
ECTUpdater/Debug/
ECTUpdater/Release/
ECTUpdater/ECTUpdater.vcxproj*.user
ECTUpdater/x64/
ECT_AT/
ECT_D/
ECT_Disk/
ECT_Doc/
EasyCash/
EasyCTX/Hlp/EasyCTX.hm
EasyCTX/EASYCTX.HLP
EasyCTX/EASYCTX.ph
EasyCTX/EASYCTX.zip
EasyCTX/Debug*/
EasyCTX/Release*/
EasyCTX/x64/
EasyCTXP/Debug/
EasyCTXP/Release*/
EasyCTXP/x64/
EasyCash/x64/
EasyCashFormularDuplizierer/.vs/
EctSDK/
EUer/2005(Jan)/
EUer/2009/
EUer/AT-200?/
EUer/AT-201?/
EUer/*/*.zip
EUer/*/*.pdf
*Jahr20*.eca
*Jahr19*.eca
Kopie\ von*
Kopie\ (?)\ von*
* - Copy.*
Logs/
Mailings/
Publizieren/
PVCSArch/
Release/
RES/Registrierungsw*.png
RES/Datenverzeichnis*
RES/EasyCash*x*.png
RES/EasyCash*x*.xcf
RES/EasyCash*x*.psd
RES/EasyCash_Icon.png
RES/big_icon_checkmark.psd
RES/toolbar_hicolor.xcf
RES/* - Kopie.bmp
RES/*LLL.bmp
SourceMonitor/
Tools/
UVA/*.*
UVA/*/*.ini
UVA/AT-200?/*
UVA/D-200?/*
UVA/AT-201?/*
UVA/D-201?/*
UVA/*/*.pdf
UVA/*.pdf
UVA/*/*.zip
UVA/D-2022/uva-d-2022-0?.ecf
UST/*/*.pdf
UST/*.pdf
UST/*/*.zip
UST/D-2021/USt-d-2021-AnlageUN.png
UpgradeLog*.htm
x64/

# temporäre Verzeichnisse
Temp/
*/LLL*

# sonstiges nicht zu Trackendes
*/*_ANLEITUNG.md
*INTEGRATION.md
*.zip
TestReg.txt
UmSt?.BMP
UmStVor2000-?.jpg
Wie ausdrucken.txt
easycash 1 Disk.iss
easycash MFC.iss
easycash.exe.manifest
easycash.opt
easycash2Disks.iss
easycashLLL.sln
gray.ico
green.ico
red.ico
re*-activex-debug.bat
todo2.txt
update.gif
update.jpg
ustv_austria1.jpg
ustv_austria2.jpg
uva.ini
TempUpdate.txt


