# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs/

# projektspezifische Messi-Sammlung
Crash-Reports/
Beispieldaten/
Backup/
Backup1/
Debug/
Release/
Diverses/
Doc/
Doxygen/
ECTATSPK/
ECTChart/
ECTDebug*
ECTIFace/Debug/
ECTIFace/Release/
ECTIFace/x64/
ECTPlugCSDrill/
ECTUpdater/.vs/
ECTUpdater/Debug/
ECTUpdater/Release/
ECTUpdater/ECTUpdater.vcxproj*.user
ECTUpdater/x64/
ECT_AT/
ECT_D/
ECT_Disk/
ECT_Doc/
EasyCTX/Debug/
EasyCTX/Release/
EasyCTX/x64/
EasyCTXP/Debug/
EasyCTXP/Release/
EasyCTXP/x64/
EasyCash/x64/
EasyCashFormularDuplizierer/.vs/
Jahr*.eca
Kopie\ von*
Mailings/
Publizieren/
Release/
Temp/
UpgradeLog*.htm
x64/
