# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ocx
*.pdb

# InstallShield Wizard
*.iwz

# Visual Studio
.vs/
*.clw
*.suo
*.aps
*.user
*.mdp
*.plg
*.reg
*.001
*.ncb

*.log
*.bak

# Formular Screenshots
*screenshot.png

# projektspezifische Messi-Sammlung
Crash-Reports/
Beispieldaten/
Backup/
Backup1/
Debug/
Release/
Diverses/
Doc/
Doxygen/
ECTATSPK/
ECTChart/
ECTDebug*
ECTIFace/Debug/
ECTIFace/Release/
ECTIFace/x64/
ECTPlugCSDrill/
ECTUpdater/.vs/
ECTUpdater/Debug/
ECTUpdater/Release/
ECTUpdater/ECTUpdater.vcxproj*.user
ECTUpdater/x64/
ECT_AT/
ECT_D/
ECT_Disk/
ECT_Doc/
EasyCash/
EasyCTX/Debug*/
EasyCTX/Release*/
EasyCTX/x64/
EasyCTXP/Debug/
EasyCTXP/Release*/
EasyCTXP/x64/
EasyCash/x64/
EasyCashFormularDuplizierer/.vs/
EctSDK/
EUer/2005(Jan)/
EUer/2009/
EUer/AT-200?/
EUer/AT-201?/
EUer/*/*.zip
EUer/*/*.pdf
Jahr*.eca
Kopie\ von*
Kopie\ (?)\ von*
Logs/
Mailings/
Publizieren/
PVCSArch/
Release/
Temp/
UVA/*.*
UVA/*/*.ini
UVA/AT-200?/*
UVA/D-200?/*
UVA/AT-201?/*
UVA/D-201?/*
UVA/*/*.pdf
UVA/*/*.zip
UST/*/*.pdf
UST/*/*.zip
UpgradeLog*.htm
x64/
